
nav a.active{
  
border-bottom: 4px solid #0077B5;
 
}
#pagination {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Scrollbar modification */

::-webkit-scrollbar {
    
  width: 1px;
  /* display: none; */

}

/* Track */
::-webkit-scrollbar-track {
    background-color: #ece0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color:#0077B5;
    border-radius: 5px;
    background-clip: content-box;

  }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #467d6c;
}

::-webkit-scrollbar {max-height: 10%; height: 10%;}

.cropped {
  width: 93px; /* width of container */
  height: 75px; /* height of container */
  overflow: hidden;
}

.active{
  color: white;
  background-color: #0077B5;
  border: 5px;

}

